.App {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}
*{
  box-sizing: border-box;
}

.main-box{
  max-width: 325px;
  min-height: 325px;
  border: 1px solid darkolivegreen;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px;
}





